{%extends "base.html" %}
{% block title %}ERROR {%endblock%}

{% block content %}
  <div class='container'>
    <br/><br/><br/>
    <div class="alert alert-warning" role="alert">
      Unluckily, we have no examples for this university.
    </div>
    {% for q in QR %}
    <script>
            var loc= "{{q.webs}}"
            document.write('<a href="' + loc + '" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Search for them in the website!</a>')
    </script>
    {%endfor%}
  </div>

{% endblock %}